<ion-view title="Course Directory">
  <ion-content>
  <!-- Search Selections -->
  <br />
    <div class="button-bar">
      <a class="button" ui-sref="app.search-courses">Search</a>
      <a class="button button-calm">Directory</a>
      <a class="button" ui-sref="app.courses-nearby">Near Me</a>
    </div><br />
  <!-- Search Inputs -->
    <div class="list">
      <!-- show the different countries -->
      <li class="item item-icon-right" ng-repeat="cont in continents" ng-click="selectContinent(cont, $index)">
        {{cont.name}}
      </li>
    </div>
  </ion-content>
</ion-view>
