<ion-view view-title="Search Courses">
  <ion-content>
  <!-- Search Selections -->
    <br />
    <div class="button-bar">
      <a class="button button-calm">Search</a>
      <a class="button" ui-sref="app.course-directory">Directory</a>
      <a class="button" ui-sref="app.courses-nearby">Near Me</a>
    </div><br />
  <!-- Search Inputs -->
    <form>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">Country</div>
          <select ng-model="search.country">
            <option ng-repeat="country in countries | orderBy : 'name'" value="{{country.id}}">
              {{country.name}}
            </option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Course</span>
          <input type="text" placeholder="Course Name" ng-model="search.keyword">
        </label>
      <!-- Submit button -->
        <button class="button button-bar button-calm" ui-sref="app.search-results({countryID: search.country, keyword: search.keyword})">
            Search
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
